<h1>This is the new home now!</h1>

<h1>Login and access your favourite music!</h1>

<% if user_signed_in? %>
  <h1>Hi <%= current_user.email %></h1>
  <%= link_to "Find tracks", tracks_path %>
  <%= link_to "Create playlist", user_playlists_path(current_user) %>
<% end %>
<%if @is_creator == true %>
  <%= link_to 'Creators page', user_creator_path(@creator.id, current_user) %>
<% end %>
